 <div class="<%= params[:level] %>">
    <div class="panel-heading"><%= params[:title] %></div>
    <div class="panel-body">
      <table class="table table-striped">
	  	<tr><td>Orden</td><td><%= params[:orden_id] %></td></tr>
	  	<tr><td>Boleta</td><td><%= params[:boleta_id] %></td></tr>
	  	<tr><td>SKU</td><td><%= params[:sku] %></td></tr>
	  	<tr><td>Valor Bruto</td><td><%= params[:bruto] %></td></tr>
	  	<tr><td>IVA</td><td><%= params[:iva] %></td></tr>
	  	<tr><td>Valor Total</td><td><%= params[:total] %></td></tr>
	  </table>
    </div>
  </div>